name: Update Manifest and Commit Changes

on:
  workflow_dispatch:
  push:

jobs:
  update-manifest:
    name: "Update Manifest and Commit Changes"
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Update Manifest and Commit Changes
        uses: ubiquity-os/action-deploy-plugin@main
        with:
          treatAsEsm: false
          sourcemap: false
          pluginEntry: ${{ github.workspace }}/src/index.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
